<!--======================================== Pie de pagina ========================================-->
<footer class="full-reset footer">
    <div class="full-reset" style="padding: 15px 0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h4 class="titles text-center">Visitenos en</h4>
                    <p class="text-center">www.elviravelasco.com</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="titles text-center">Contactenos</h4>
                    <p class="text-center">Tele-Fax: +(000)0000-0000 <br>Correo Electrónico: correo@hotmail.com</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="titles subtitles-footer">Siguenos en</h4>
                    <ul class="list-unstyled links-footer">
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-facebook"></i> &nbsp; Facebook</a></li>
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-twitter"></i> &nbsp; Twitter</a></li>
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-google-plus"></i> &nbsp; Google+</a></li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="full-reset footer-copyright"><i class="fa fa-copyright"></i> 2020 UNS </div>
                </div>
            </div>
        </div>
    </div>
</footer>