/*************** Estilos del header y nav ***************/
.header{
    background-color: #00796b;
    height: 50px;
    color: #fff;
    position: relative;
    z-index: 97;
}
.logo{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}
.navigation{
    height: 50px;
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
}
.navigation ul{
    height: 50px;
    padding-right: 15px;
    text-align: right;
}
.navigation ul li{
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0 1px;
}
.navigation ul li a{
    position: relative;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    padding: 0 5px;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navigation ul li a:active,
.navigation ul li a:focus{
    outline: none;
    text-decoration: none;
}
.navigation ul li a:hover{
    color: #F0F4C3;
    text-decoration: none;
}
.button-menu-mobile{
    margin: 0;
    padding: 0 17px;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}
.button-menu-mobile:focus,
.button-menu-mobile:active{
    color: #fff;
    outline: none;
}
.button-menu-mobile:hover{
    color: #fff;
}
.mega-menu{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(0,121,107,.97);
    color: #fff;
    z-index: 99999;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    transition: .4s all ease-in-out;
}
.mega-menu span{
    color: #F0F4C3;
}
.mega-menu ul{
    padding: 10px 0 0 0;
}
.mega-menu ul li,
.mega-menu ul li a{
    height: 30px;
    line-height: 30px;
}
.mega-menu ul li{
   display: block;
   width: 100%; 
}
.mega-menu ul li a{
    color: #fff;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
.mega-menu ul li a:hover{
    text-decoration: none;
    color: #FFA726;
}
.mega-menu ul li a:active,
.mega-menu ul li a:focus{
    outline: none;
    text-decoration: none;
}
.show-mega-menu{
    opacity: 1;
    height: auto !important;
    pointer-events: auto;
}
.close-mega-menu{
    color: #fff !important;
    position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 10px;
}/*************** Estilos del header y nav ***************/
.header{
    background-color: #00796b;
    height: 50px;
    color: #fff;
    position: relative;
    z-index: 97;
}
.logo{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}
.navigation{
    height: 50px;
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
}
.navigation ul{
    height: 50px;
    padding-right: 15px;
    text-align: right;
}
.navigation ul li{
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0 1px;
}
.navigation ul li a{
    position: relative;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    padding: 0 5px;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navigation ul li a:active,
.navigation ul li a:focus{
    outline: none;
    text-decoration: none;
}
.navigation ul li a:hover{
    color: #F0F4C3;
    text-decoration: none;
}
.button-menu-mobile{
    margin: 0;
    padding: 0 17px;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}
.button-menu-mobile:focus,
.button-menu-mobile:active{
    color: #fff;
    outline: none;
}
.button-menu-mobile:hover{
    color: #fff;
}
.mega-menu{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(0,121,107,.97);
    color: #fff;
    z-index: 99999;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    transition: .4s all ease-in-out;
}
.mega-menu span{
    color: #F0F4C3;
}
.mega-menu ul{
    padding: 10px 0 0 0;
}
.mega-menu ul li,
.mega-menu ul li a{
    height: 30px;
    line-height: 30px;
}
.mega-menu ul li{
   display: block;
   width: 100%; 
}
.mega-menu ul li a{
    color: #fff;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
.mega-menu ul li a:hover{
    text-decoration: none;
    color: #FFA726;
}
.mega-menu ul li a:active,
.mega-menu ul li a:focus{
    outline: none;
    text-decoration: none;
}
.show-mega-menu{
    opacity: 1;
    height: auto !important;
    pointer-events: auto;
}
.close-mega-menu{
    color: #fff !important;
    position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 10px;
}