<!--======================================== Boton ir arriba ========================================-->
<i class="btn-up fa fa-arrow-circle-o-up hidden-xs"></i>
<!--======================================== Navegación ========================================-->
<header class="full-reset header">
    <!--======================================== Logo(Nombre INS) ========================================-->
    <div class="full-reset logo">
        <span class="hidden-lg hidden-md">I.E.P ELVIRA VELASCO</span>
        <span class="hidden-xs hidden-sm">I.E.P ELVIRA VELASCO </span>
    </div>
    <!--======================================== Links de navegación ========================================-->
    <nav class="full-reset navigation">
        <ul class="full-reset list-unstyled">
            <li><a href="">Inicio</a></li>
            
            <!--li><a href="institucion.html">Institución</a></li-->
            <li><a href="institucion/informacion">Información</a></li>
            <li><a href="login">Iniciar Sesion</a></li>
            <!--li><a href="bachilleratos.html">Bachilleratos</a></li-->
            <!--li><a href="galeria.html">Galería</a></li-->
            <li><a href="#" class="btm-mega-menu">Más &nbsp;<i class="fa fa-caret-down"></i></a></li>
        </ul>
    </nav>
    <!--======================================== Mega menu ========================================-->
    <div class="full-reset mega-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <span class="full-reset titles">Recursos educativos</span>
                    <ul class="list-unstyled full-reset">
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-search"></i>&nbsp; Buscar en GOOGLE</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <span class="full-reset titles">Enlaces importantes</span>
                    <ul class="list-unstyled full-reset">
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-university"></i>&nbsp; MINEDU</a></li>
                        <li><a href="#!" class="open-link-newTab"><i class="fa fa-gavel"></i>&nbsp; GOBIERNO</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <span class="full-reset titles">Archivos</span>
                    <ul class="list-unstyled full-reset">
                        <li><a href="#!"><i class="fa fa-download"></i>&nbsp; Descargas</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <i class="fa fa-times-circle btm-mega-menu close-mega-menu fa-2x"></i>
    </div>
    <!--======================================== Boton menu mobil ========================================-->
    <a href="#" class=" hidden-sm hidden-md hidden-lg pull-right button-menu-mobile show-close-menu-m"><i class="fa fa-ellipsis-v"></i></a>
</header>