<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3>Registro de conducta:</h3><br>
        <h4><b>Curso:&nbsp;&nbsp;</b>Matematicas</h4><br>
        <h4><b>Alumnos Registrados:</b></h4><br>
        <form action="" method="get" >
        <table>
            <tr>
                <th>Nombre y Apellidos</th>
                <th>Nota de Conducta</th>
            </tr>
            <tr>
                <th>marcos Rech</th>
                <th><input type="number" name="" id="" minlength="0" maxlength="20"></th>
            </tr>
            <tr>
                <th>Elisa Ramos</th>
                <th><input type="number" name="" id="" minlength="0" maxlength="20"></th>
            </tr>
            <tr>
                <th>Rosa Fernandez</th>
                <th><input type="number" name="" id="" minlength="0" maxlength="20"></th>
            </tr>
        </table>
        <input type="submit" value="Guardar Conducta">
    </form>
    </div>
    <div class="col-sm-4"></div>
</div>
