<section class="events-ins">
  <div class="container-fluid">
    <h2 class="text-center titles">Bienvenido NOMBRE NOMBRE</h2>
    <h4 class="text-center titles">Menu del Apoderado</h4>
    <br><br>
    <div class="row">
      <!--======================================== Articulo 1 ========================================-->
      <article class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
              <h3 class="text-center">Datos Personales</h3>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mi perfil</a></p>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">Perfil de mis menores hijos o responsables</a></p>
            </div>
          </div>
      </article>
      <!--======================================== Articulo 2 ========================================-->
      <article class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
              <h3 class="text-center">Cursos</h3>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">Transmisiones en VIVO</a></p>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">HORARIOS</a></p>
            </div>
          </div>
      </article>
      <!--======================================== Articulo 3 ========================================-->
      <article class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
              <h3 class="text-center">Reportes de su(s) menor(es) hijo(s)</h3>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">Reporte de Asistencia</a></p>
              <p class="text-center"><a href="#" class="btn btn-primary" role="button">Reporte de Conducta</a></p>
            </div>
          </div>
      </article>
    </div>
  </div>
</section>
<div class="divider-general"></div>