<section class="events-ins">
    <div class="container-fluid">
        <h2 class="text-center titles">Menu del Estudiante</h2>
        <br><br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                    </tr>
                    <tr>
                        <th>7 A 8 A.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>8 A 9 A.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>9 A 10 A.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>10 A 11 A.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>11 A 12 A.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>AL</th>
                        <th>MU</th>
                        <th>E</th>
                        <th>R</th>
                        <th>Z</th>
                        <th>O</th>
                    </tr>
                    <tr>
                        <th>1 A 2 P.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>2 A 3 P.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>3 A 4 P.M</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>
<div class="divider-general"></div>