<!--======================================== Logo & Lema ========================================-->
<section class="full-reset font-cover" style="background-image: url(assets/img/font-index.jpg);">
    <div class="full-reset" style="height: 100%; background-color: rgba(255,255,255,.6); padding: 60px 0;">
        <h1 class="text-center titles">Elvira Velasco </h1>
        <figure class="Logo-Ins-Index">
            <img src="assets/img/logo1.png" alt="Logo" class="img-responsive">
        </figure>
        <p class="lead text-center">
            Cumplimos con el estandar educativo en esta pandemia
        </p>
    </div>
</section>
<div class="divider-general"></div>

        <br>
        <div class="divider-general"></div>
        <br>
        
        <section class="events-ins">
            <div class="container-fluid">
                <h2 class="text-center titles">Sus hijos y/o apoderados son</h2>
                <br><br>
                <div class="conteiner-fluid">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <table>
                                <tr>
                                <th>Nombres y Apellidos</th>
                                <th>Grado y Seccion </th>
                                <th>Estado</th>
                            </tr>
                            <tr>
                                <th><a href="">-----</a></th>
                                <th>----------</th>
                                <th>----------</th>
                            </tr>
                        </table>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="row">
                   
                </div>
            </div>
        </section>
        <div class="divider-general"></div>
        <!--======================================== Enlaces importantes ========================================-->
        <!--section class="text-center important-links-index">
    <h2 class="titles">Sitios y enlaces importantes</h2>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-graduation-cap"></i>
        <p>MOODLE</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-paw"></i>
        <p>ARA-MACAO</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-globe"></i>
        <p>JOVENES A.T.T</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-star-o"></i>
        <p>Promo. INS</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-file-text-o"></i>
        <p>Cons.conducta</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-download"></i>
        <p>Descargas</p>
    </a>
</section-->
