<!--======================================== Logo & Lema ========================================-->
<section class="full-reset font-cover" style="background-image: url(assets/img/font-index.jpg);">
    <div class="full-reset" style="height: 100%; background-color: rgba(255,255,255,.6); padding: 60px 0;">
        <h1 class="text-center titles">Elvira Velasco </h1>
        <figure class="Logo-Ins-Index">
            <img src="assets/img/logo1.png" alt="Logo" class="img-responsive">
        </figure>
        <p class="lead text-center">
            Cumplimos con el estandar educativo en esta pandemia
        </p>
    </div>
</section>
<div class="divider-general"></div>

        <br>
        <div class="divider-general"></div>
        <br>
        
        <section class="events-ins">
            <div class="container-fluid">
                <h2 class="text-center titles">Sus hijos y/o apoderados son</h2>
                <br><br>
                <div class="conteiner-fluid">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <table>
                                <tr>
                                <th>Nombres y Apellidos</th>
                                <th>Grado y Seccion </th>
                                <th>Estado</th>
                            </tr>
                            <tr>
                                <th>----------</th>
                                <th>----------</th>
                                <th>----------</th>
                            </tr>
                        </table>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="row">
                    <!--======================================== Articulo 1 ========================================-->
                    <article class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="assets/gallery/ei.jpg" class="img-responsive img-rounded" height="240"
                                width="240">
                            <div class="caption">
                                <h3 class="text-center">Educacion Inicial</h3>
                                <p class="text-justify">Educacion de calidad para los mas pequeños de la casa donde
                                    aprenderan divirtiendose
                                </p>
                                <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mas
                                        Informacion</a></p>
                            </div>
                        </div>
                    </article>
                    <!--======================================== Articulo 2 ========================================-->
                    <article class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="assets/gallery/ep.jpg" class="img-responsive img-rounded" height="240"
                                width="240">
                            <div class="caption">
                                <h3 class="text-center">Educacion Primaria</h3>
                                <p class="text-justify">Educacion de Calidad para los puberes que representan el futuro
                                    del mañana</p>
                                <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mas
                                        Informacion</a></p>
                            </div>
                        </div>
                    </article>
                    <!--======================================== Articulo 3 ========================================-->
                    <article class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="assets/gallery/es.jpg" class="img-responsive img-rounded" height="240"
                                width="240">
                            <div class="caption">
                                <h3 class="text-center">Educacion Secundaria</h3>
                                <p class="text-justify">Calidad educativa para todos los jovenes que permanecen cerca al
                                    proximo grado de
                                    educacion superior</p>
                                <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mas
                                        Informacion</a></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <div class="divider-general"></div>
        <!--======================================== Enlaces importantes ========================================-->
        <!--section class="text-center important-links-index">
    <h2 class="titles">Sitios y enlaces importantes</h2>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-graduation-cap"></i>
        <p>MOODLE</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-paw"></i>
        <p>ARA-MACAO</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-globe"></i>
        <p>JOVENES A.T.T</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-star-o"></i>
        <p>Promo. INS</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-file-text-o"></i>
        <p>Cons.conducta</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-download"></i>
        <p>Descargas</p>
    </a>
</section-->
