<!--======================================== Logo & Lema ========================================-->

<div class="divider-general"></div>

        <br>
        <div class="divider-general"></div>
        <br>
        
        <section class="events-ins">
            <div class="container-fluid">
                <h2 class="text-center titles">Sus hijos y cursos son</h2>
                <br><br>
                <div class="conteiner-fluid">
                   

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <ul>

                                <ng-template ngFor let-x [ngForOf]="apoderado.estudiantes">
                                    <li>
                                        <h4>Hijo: {{x.estudiante.nombre}} 
                                            {{x.estudiante.apellidoPaterno}} 
                                            {{x.estudiante.apellidoMaterno}}</h4>
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Curso</th>
                                                    <th scope="col"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-template ngFor let-y [ngForOf]="x.estudiante.cursos">
                                                        <tr>
                                                            <td>
                                                                {{y.curso.nombre}}
                                                            </td>
                                                       
                                                            <td>
                                                                <a role="button" class="btn btn-success btn-sm" href="cursos/{{y.curso.idCurso}}/transmision"> Ver Transmision</a>
                                                            </td>
                                                          </tr>
                                                    </ng-template>
                            
                            
                                                  
                                                
                                                </tbody>
                                              </table>
                                    </li>
                                </ng-template>

                            </ul>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    




                </div>
                <div class="row">
                   
                </div>
            </div>
        </section>
        <div class="divider-general"></div>
        <!--======================================== Enlaces importantes ========================================-->
        <!--section class="text-center important-links-index">
    <h2 class="titles">Sitios y enlaces importantes</h2>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-graduation-cap"></i>
        <p>MOODLE</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-paw"></i>
        <p>ARA-MACAO</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-globe"></i>
        <p>JOVENES A.T.T</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-star-o"></i>
        <p>Promo. INS</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-file-text-o"></i>
        <p>Cons.conducta</p>
    </a>

    <a href="#!" class="open-link-newTab">
        <i class="fa fa-download"></i>
        <p>Descargas</p>
    </a>
</section-->
