<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3>Mi Perfil de Apoderado</h3>
        <br>
        <h4><b>Nombre:</b>Marcus Ferrafon</h4><br>
        <h4><b>Apellidos:</b>Lopez Concerl</h4><br>
        <h4><b>DNI:</b>52525252</h4><br>
        <h4><b>Celular de contacto:</b>965969696</h4><br>
        <h4><b>alumnos:</b></h4><br>
        <table>
            <tr>
                <th>Nombres y Apellidos</th>
                <th>Codigo de Estudiantes</th>
            </tr>
            <tr>
                <th>Raul Perez Sanchez</th>
                <th>AS30502502020</th>
            </tr>
        </table>
    </div>
    <div class="col-sm-4"></div>
</div>