<section class="full-reset" style="background-color: #fff; padding: 20px 0;">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-8 col-md-9 info-section-ins">
                <!--======================================== Mision y vision ========================================-->
                <article class="full-reset" id="mision-vision">
                    <div class="page-header" style="margin-bottom:40px;">
                      <h1><i class="fa fa-graduation-cap"></i> &nbsp; Misión y Vision</h1>
                    </div>
                    <br><br>
                    <div class="panel panel-primary">
                      <div class="panel-heading lead text-center titles">Misión</div>
                      <div class="panel-body">
                        <p class="lead text-justify">	
                            Atender las necesidades educativas de nuestros estudiantes brindandoles los conocimientos e instrumentos adecuados para lograr una formacion humanista integral.Contando con una excelente plana docente y una apropiada infraestructura para alcanzar nuestros objetivos
                        </p>
                      </div>
                    </div>
                    <br><br>
                    <div class="panel panel-primary">
                      <div class="panel-heading lead text-center titles">Visión</div>
                      <div class="panel-body">
                        <p class="lead text-justify">
                            Ser la mejor institucion en servicios educativos. Brindando una sólida formación humanista integral. con un alto nivel de exigencia, apoyado en el uso de la tecnología y el fortalecimiento de la fe en Dios, formando asi estudiantes capaces de enfrentar los retos de la vida
                        </p>
                      </div>
                    </div>	
                </article>
                <!--======================================== Reseña historica ========================================-->
                <article class="full-reset" id="resena-ins">
                    <div class="page-header" style="margin-bottom:50px;">
                      <h1><i class="fa fa-university"></i> &nbsp; Reseña histórica</h1>
                    </div>
                    <h3 class="text-center titles text-uppercase">Antesedentes</h3>
                    <p class="lead text-justify">
                        Hoy en dia, como en muchos años de la historia, la mujer ha dejado huellas imperecederas y aqui al respecto hablamos de una mujer especial cuyas caracteristicas son: su carisma inteligencia y tenacidad, cualidades que marcan la pauta, para que las mujeres logren alcanzar niveles altos de sensibilidad y desarrollo personal.
                        <br><br>
                        Elvira Velasco Sanchez,mujer española nacida en alicante en el año 1938, fue maestra de profesion.Su dedicación por los niños, sembró la semilla del amor y la ayuda a los más necesidades.
                        <br><br>
                        Fue inspiradora de Asociones benéficas especialmente las de MAPAYN MUNDI, cuya responsabilidad asumió su esposo DON José Toro Pérez, trasladando la institución al Perú al fallecer su mujer en 1998.
                        <br><br>
                        El plan integral de Desarrollo para erradicacion de pobreza, llevado a cabo en las cuencas Ancashinas de los rios Santa y Sechin, han marcado un hito durante los trece años siguiente, hasta 2012.
                    </p>
                    <br><br>
                    <h3 class="text-center titles text-uppercase">Marco legal</h3>
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem tempore quisquam dolorem, quos nihil eveniet eligendi, mollitia at nemo deleniti facilis aliquam. Odit maiores cumque perspiciatis sunt quibusdam ea culpa.
                    </p>
                </article>
                <!--======================================== Ubicacion geografica ========================================-->
                <article class="full-reset" id="ubicacion-ins">
                    <div class="page-header">
                      <h1><i class="fa fa-map"></i> &nbsp; Ubicación geográfica</h1>
                    </div>
                    <p class="lead text-justify">
                        La Institución educativa particular Elvira Velasco se halla en el lugar de Nuevo Chimbote, provincia de Nuevo Chimbote, tal institución compete a la UGEL SANTA quien vigila la institución educativa, y esta última pertenece a la Gerencia regional de educación DRE ANCASH.
                    </p>
                    <br><br>
                    <h3 class="text-center titles"><i class="fa fa-map-marker"></i> &nbsp; Mapa de localización</h3>
                    <br>
                    <div id="mapa-ins"></div>
                </article>
            </section>
            <!--======================================== Navegacion fija lateral derecha ========================================-->
            <nav class="hidden-xs scroll-navigation-ins">
                <figure class="full-reset">
                    <img src="assets/img/logo.png" alt="Logo" class="img-responsive center-box">
                </figure>
                <h4 class="text-center titles">Información de la institución</h4>
                <ul class="list-unstyled full-reset">
                    <li data-href="#mision-vision">Misión y Visión</li>
                    <li data-href="#resena-ins">Reseña Histórica</li>
                    <li data-href="#ubicacion-ins">Ubicación Geofráfica</li>
                </ul>
            </nav>
        </div>
    </div>
</section>