<div class="conteiner">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>Mi Perfil</h2><br>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8"><h3><b>Nombre:</b> pablo</h3></div>
                  <div class="col-sm-2"></div>
              </div>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8"><h3><b>Apellidos:</b> Perez</h3></div>
                  <div class="col-sm-2"></div>
              </div>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8"><h3><b>Grado y Seccion :</b> 5° F</h3></div>
                  <div class="col-sm-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><h3><b>Cursos :</b> </h3>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10"><ul>
                        <li><h4>Matematicas</h4></li>
                        <li><h4>Comunicacion</h4></li>
                        <li><h4>Ciencia Tecnologia y Ambiente</h4> </li>
                        <li><h4>Educacion Religiosa</h4></li>
                    </ul></div>
                    <div class="col-sm-1"></div>
                </div>
                
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
