<div class="conteiner">
   

    <div class="row">
        
        <div class="col-sm-3">
            
        </div>

        <div class="col-sm-6" style="border-style: double; border-color: #0fb8af">
            <br>
             <h2> Mi Perfil</h2><br>
            <div class="row bordersolido">
                
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Nombre:</b> {{estudiante.nombre}}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Apellidos:</b> {{estudiante.apellidoPaterno}} {{estudiante.apellidoMaterno}}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <!--div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Grado y Seccion :</b> 5° F (CORREGIR)</h3>
                </div>
                <div class="col-sm-2"></div>
            </div-->
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>DNI:</b> {{estudiante.documentoIdentidad}}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Codigo estudiante </b> {{estudiante.codigoEstudiante}}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row bordersolido">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Telefono:</b> {{estudiante.telefono}}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <!--div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><h3><b>Tutor :</b> Lic. Lucas Castellar</h3></div>
                <div class="col-sm-2"></div>
            </div-->
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3><b>Apoderado(s):</b> </h3>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <ul>

                                <ng-template ngFor let-apoderado [ngForOf]="estudiante.apoderados">
                                    <li>
                                        <h4>{{apoderado.apoderado.nombre}} 
                                            {{apoderado.apoderado.apellidoPaterno}} 
                                            {{apoderado.apoderado.apellidoMaterno}}</h4>
                                    </li>
                                </ng-template>

                            </ul>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    
                </div>
                <div class="col-sm-2"></div>
                
            </div>
         
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>