<section class="events-ins">
    <div class="container-fluid">
        <h2 class="text-center titles">Menu del Docente</h2>
        <br><br>
        <div class="row">
            <!--======================================== Articulo 1 ========================================-->
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h3 class="text-center">Datos Personales</h3>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mi perfil</a></p>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Mis grados</a></p>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Cursos</a></p>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Asistencia Docente</a></p>
                  </div>
                </div>
            </article>
            <!--======================================== Articulo 2 ========================================-->
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h3 class="text-center">Utilitarios</h3>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Iniciar curso transmicion</a></p>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">visualizar mis HORARIOS</a></p>
                  </div>
                </div>
            </article>
            <!--======================================== Articulo 3 ========================================-->
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h3 class="text-center">Reportes de Estudiantes</h3>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Estudiantes Habiles</a></p>
                    <p class="text-center"><a href="#" class="btn btn-primary" role="button">Estudiantes por Grado</a></p>
                  </div>
                </div>
            </article>
        </div>
    </div>
</section>
<div class="divider-general"></div>

