

   


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="container">
                <div class="row">
                    <h3><b>CURSO: MATEMATICAS </b></h3> &nbsp;&nbsp;<h4>Docente responsable: lic. Eduardo Torres</h4>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <video id="player" class="video-js vjs-default-skin" width="700" height="440"  controls preload="none">
                            <source src="http://192.168.0.6/livestream/stream.m3u8" type="application/x-mpegURL" />
                        </video> 
                    </div>
                    <div class="col-sm-">
                        <h3>ASISTENTES:</h3><br>
                        <ul>
                            <li>Marcelo Escalante</li>
                            <li>Esmeralda Pimentel </li>
                            <li>Lucia Gaxiola</li>
                            <li>Nora Gaxiola</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

 

