
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2><span class="label label-info">Registro de Asistencia:</span></h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>curso:&nbsp;Matematicas</h4>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>fecha:13/02/2020</h5>
                    </div>
                  </div>
                
                <form action="" method="get">
                <table style="border: 1px solid #4ec2e4;">
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>&nbsp;&nbsp;&nbsp;Presente&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;Inasistencia&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;Falta justificada&nbsp;&nbsp;</th>
                    </tr>
                    <tr>
                        <th>Marcos Calderon</th>
                        <th>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"><input type="radio" name="a01" id=""></div>
                                <div class="col-sm-4"></div>
                            </div> 
                        </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a01" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a01" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> 
                    </th>
                    </tr>
                    <tr>
                        <th>Richard Swing</th>
                        <th>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"><input type="radio" name="a02" id=""></div>
                                <div class="col-sm-4"></div>
                            </div> 
                        </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a02" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a02" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> 
                    </th>
                    </tr>
                    <tr>
                        <th>Martin Vizcarra</th>
                        <th>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"><input type="radio" name="a03" id=""></div>
                                <div class="col-sm-4"></div>
                            </div> 
                        </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a03" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> </th>
                        <th><div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"><input type="radio" name="a03" id=""></div>
                            <div class="col-sm-4"></div>
                        </div> 
                    </th>
                    </tr>
                </table>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit"  class="btn btn-info"   value="Guardar Asistencia">
                    </div>
                  </div>
               
               
            </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
