
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4>Registro de Asistencia:</h4><br>
                <h4>curso:&nbsp;Matematicas</h4><br>
                <h5>fecha:13/02/2020</h5>
                <form action="" method="get">
                <table>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Presente</th>
                        <th>Inasistencia</th>
                        <th>Falta justificada</th>
                    </tr>
                    <tr>
                        <th>Marcos Calderon</th>
                        <th><input type="radio" name="pre" id=""></th>
                        <th><input type="radio" name="ina" id=""></th>
                        <th><input type="radio" name="jus" id=""></th>
                    </tr>
                    <tr>
                        <th>Richard Swing</th>
                        <th><input type="radio" name="pre" id=""></th>
                        <th><input type="radio" name="ina" id=""></th>
                        <th><input type="radio" name="jus" id=""></th>
                    </tr>
                    <tr>
                        <th>Martin Vizcarra</th>
                        <th><input type="radio" name="pre" id=""></th>
                        <th><input type="radio" name="ina" id=""></th>
                        <th><input type="radio" name="jus" id=""></th>
                    </tr>
                </table>
                <input type="submit" value="Guardar Asistencia">
            </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
